*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  body{
    background-image: linear-gradient(to right, #6A02FB , #DB1255)
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    height: 6rem;
    background: #fefefe22;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.header-logo a{
    font-size: .8rem;
    text-decoration: none;
    font-weight: 800;
    color: white;
}
.header-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}
.header-menu a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}
.header-menu a:hover{
    color: rgb(0, 0, 255);
}
.container{
    margin: 70px;
  }
  .container h1{
    font-size: 25px;
    color: white;
  }
.main{
    margin-top: 50px;
  }
 .todoInput{
    padding: 10px 20px;
    width: 400px;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
    text-align: left;
    border: 1px solid gray;
    background-color: #fff;
    margin-right: 20px;
  }
  .todoInput::placeholder{
    font-size: 14px;
  }
  button{
    padding: 10px 55px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #1067f3;
    border: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  button:hover{
    background-color: #ff000d;
  }
  .todoContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .todoItem{
    cursor: pointer;
  }
  .todoItem p:hover{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 3px;
  }
  p{
    margin: 5px;
    font-size: 18px;
    background: #9bf6ff;
    width: 300px;
    min-width: 290px;
    text-align: left;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  i{
    margin: 0px 0px 0px -27px;
    cursor: pointer
  }
  .deletebtn{
    position: absolute;
    background-color: #fff;
    padding: 6px;
    border-radius: 50%;
    margin-top: -33px;
    right: 6px;
  }
  .deletebtn:hover{
    background-color: #1067f3;
    color: white;
  }
  footer{
    height: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    bottom: 2rem;
    margin-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
  @media only screen and (max-width: 810px) and (min-width: 350px){
    header{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }
    .header-menu{
        display: none;
    }
    .header-logo a{
        font-size: .8rem;
    }
    .container{
      margin: 10px;
      margin-top: 50px;
    }
    .container h1{
      font-size: 20px;
    }
    .todoInput{
      width: 230px;
      margin-right: 10px;
      
    }
    p{
      margin: 10px;
    }
    button{
      padding: 10px 25px;
      font-size: 14px;
    }
  }